
.pf-c-title{
  color: rgb(177, 18, 45);
  font-family: 'Times New Roman', Times, serif;
  font-style: initial;
  font-family: serif;
}
.header-for-title{
  padding-left: 0.5cm;
  padding-bottom: 1cm;
}

.serviceInfoCard {
  cursor: pointer;
}

.serviceInfoCard:hover {
  background-color: #F0f0f0;
}

.serviceInfoCard:active {
  background-color: #D2D2D2;
}
