.appContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.headerBar {
    background-color: black;
    padding-top: 1cm;
}

.appContent {
    display: flex;
    width: 100%;
    height: 100%;
}

.flowContainer {
    width: 100%;
    height: 100%;
    background-color: #BEEDF9;
    flex: 5;
}

.sidebar {
    flex: 2;
    overflow-y: scroll;
}

.searchInput {
    background-color: rgb(240, 237, 232);
}

.searchResults {
    /* height: 100%; */
}